@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --font-family: 'Space Grotesk';
}

html,
body {
    font-size: 18px;
    font-family: var(--font-family);
    margin: 0;
}

/*content style and position (cards not involved) */
.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    margin: 0;
}

.colored {
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.white {
    display: grid;
    text-transform: uppercase;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Positioning */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: max(340px, 35vw);
    max-width: 405px;
    position: absolute;
    right: 10vw;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* expiration date and cvc number positioning */

.exp-cvc-inputs, .exp-cvc-labels{
    display: inline-grid;
    grid-template: 1fr / 48% 48%;
    gap:4%;
}

.exp-inputs{
    display: grid;
    grid-template: 1fr / 48% 48%;
    column-gap: 10px;
}
.cvc-input{
    display: grid;
    grid-template-columns: 1fr;
}

/* styling buttons and inputs */
input {
    height: 40px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 8px;
    font-family: var(--font-family);
    padding-left: 10px;
}

input:focus {
    outline: none;
    border: 1px solid hsl(249, 99%, 64%);
}

input[type="submit"] {
    background-color: rgba(34, 9, 48, 255);
    color: white;
    height: 50px;
    font-size: 1rem;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.error-message{
    font-size: 10px;
    color: red;
    padding: 0;
    margin: 0;
}

/* cards positioning and styling */

/* card front */
.card-front {
    background-image: url('./images/bg-card-front.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 31vw;
    height: 15vw;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    justify-items: center;
    color: white;
    letter-spacing: 2px;

    top: calc(50vh - 22vw);
    left: 8vw;
}

#logo {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    justify-self: start;
}

#number {
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
    font-size: max(2vw,1rem);
}

#card-name {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
    justify-self: start;
    margin: 0;
    padding-left: 20px;
    font-size: max(.6rem , 12px);
}

#card-date {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
    margin: 0 auto;
    font-size: max(.6rem , 12px);
}

/* end card front */

/* Card back */
.card-back {
    background-image: url('./images/bg-card-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 31vw;
    height: 18vw;
    border-radius: 10px;
    color: white;
    top: 50vh;
    left: 15vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#card-cvc {
    margin-right: 10%;
}

footer{
    position: fixed;
    bottom: 10px;
    right: 0;
    z-index: 55;
    font-size: min(3vw,1rem);
}



/* Thank you page */
.thanks{
    width: max(340px, 35vw);
    max-width: 405px;
    max-height: 70%;
    display: grid;
    grid-template: 1fr 2fr 1fr / 1fr;
    text-align: center;
}

.thanks-msg{
    align-self: center;
}

.thanks-msg h2 {
    letter-spacing: 2px;
    color: hsl(278, 68%, 11%);
}

.thanks-msg p {
    text-transform: none;
    color:hsl(279, 6%, 55%);
}
.thanks #icon-complete{
    justify-self: center;
}

.thanks #continue-btn{
    background-color: rgba(34, 9, 48, 255);
    color: white;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    text-transform: capitalize;
    font-family: var(--font-family);
}
.thanks #continue-btn:hover{
    cursor: pointer;
}

/* end thanks message */

/* Media queries */

/* Tablet and mobile view */

@media screen and (max-width: 790px) {

    .container {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template: 1fr 2fr / 1fr;
        margin: 0;
    }

    .colored {
        background-image: url('./images/bg-main-mobile.png');
    }

    .white {
        display: grid;
        text-transform: uppercase;
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        position: static;
        margin-bottom: 2vh;
    }

    /* Positioning */
    form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: max(340px, 70vw);
        position: static;
        right: auto;
    }

    /* cards positioning and styling */

    .cards{
        position: fixed;
        width: 380px;
        height: 262px;
        top: max(10px,calc(100vh / 3 - 190px));
        left: calc(50vw - 190px);
    }

    /* card front */
    .card-front {
        width: 300px;
        height: 150px;
        top: 92px;
        left: 0;
        z-index: 1;
        position: absolute;
    }

    #number {
        font-size: 1rem;
    }

    #card-name, #card-date{
        font-size: 10px;
    }

    /* end card front */

    /* Card back */
    .card-back {
        position: absolute;
        width: 300px;
        height: 150px;
        top: 0;
        left: 80px;
    }

    #card-cvc {
        margin-top: 30px;
    }

    footer{
        left: 0;
    }
}

@media screen and (max-width: 420px) {

    html{
        font-size: 15px;
    }

    /* cards positioning and styling */

    .cards{
        position: absolute;
        width: 300px;
        height: 222px;
        top: calc(100vh / 3 - 150px);
        left: calc(50vw - 150px);
    }
    /* card front */
    .card-front {
        width: 220px;
        height: 110px;
        top: 70px;
    }

    /* end card front */

    /* Card back */
    .card-back {
        position: absolute;
        width: 220px;
        height: 110px;
        top: 0;
        left: 80px;
    }

    #card-cvc {
        margin-top: 29px;
    }
}

@media screen and (min-width:420px) and (max-width: 790px) and (max-height: 750px){

    .white{
        align-items: center;
        margin-bottom: 20px;
    }

    .cards{
        position: absolute;
        width: 300px;
        height: 222px;
        top: calc(100vh / 3 - 220px);
        left: calc(50vw - 180px);
    }
}